.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

input {
  width: 100vw;
  font-size: 1em;
  background-color: #bdbdbd;
  padding: .25em 0;
}

input:focus {
  background-color: #ffb3b3;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1em;
  cursor: pointer;
  border-left: 6px solid red;
  background-color: #009933;
  color: white;
  margin: 0.5em 4px;
  padding: .25em .5em;
  text-align: left
}

li:hover,
li:focus {
  background: #800000;
  text-decoration: underline;
  outline: none;
}

header {
  font-size: 2em;
  margin: 0;
  padding: 8px 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  background-color: red;
}

footer {
  font-size: 12px;
  text-align: center;
  padding: 8px;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 2px solid red;
}

a:hover {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

.info-window-title {
  font-size: 18px;
  padding: 0;
  margin: 0 0 4px 0;
}

.info-window {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

/* Desktops and tablets */
@media (min-width: 768px) {
  h1 {
    height: 7%;
    font-size: 2em;
  }

  li {
    padding: .5em .5em;
  }

  input {
    padding: .5em .5em;
    
  }

  footer {
    font-size: 14px;
  }
}
