.App {
  text-align: center;
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-flow: wrap;
}

.header {
  width: 100%;
}

.sidebar {
  width: 25%;
}

.search {
  width: 100%;
  height: 2em;
  font-size: 1em;
}

.list {
  padding: 1em;
}

.list-item {
  list-style: none;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
  border-left: 6px solid red;
  background-color: lightgrey;
}

.footer {
  width: 100%;
  font-size: 1em;
  padding-bottom: 1.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
